bcrypt==4.1.3
boto3==1.43.106
email-validator==2.3.0
fastapi==0.110.1
greenlet==3.2.4
httpx==0.28.1
PyJWT==2.15.1
pydantic==2.13.5
python-dotenv==1.2.4
python-multipart==0.0.32
SQLAlchemy==2.0.41
asyncpg==0.31.0
uvicorn==0.25.0
